.arab-culture {
    border: 4px solid black;
}

.dawali-pic {
    border: 4px solid black;
}

.mansaf-pic {
    border: 4px solid black;
}

.molokhia-pic {
    border: 4px solid black;
}

body {
    background-color: lightgrey;
}